node_modules/
dist/
.env

.ipynb_checkpoints/
__pycache__
tags
tmp/
my-crawler/node_modules/
my-crawler/storage/
typesense-data/
meili_data/
mongodb_data/
python_services/examples/
my-crawler/examples/
etc/chiir21_naturallanguagequeries/

plan_and_execute_agent__2nb__.ipynb
askLangchain__2nb__.ipynb
movies.json


