docker/llms/llama.cpp
docker/llms/models
node_modules/
dist/
.env

.ipynb_checkpoints/
__pycache__
tags
tmp/
my-crawler/node_modules/
my-crawler/storage/
typesense-data/
meili_data/
mongodb_data/
python_services/examples/
my-crawler/examples/
etc/chiir21_naturallanguagequeries/
**/custom_llms.egg-info/

movies.json


