BF_SERVER_PORT=3978
MONGODB_CONNECTION='mongodb://mongo1:27017,mongo2:27018,mongo3:27019'
MONGODB_DATABASE='botbuilder'
MONGODB_REPLICA_SET='myReplicaSet'
LS_COMPLETION_ENDPOINT_URL='192.168.58.9'
LS_COMPLETION_ENDPOINT_PORT=3000
LS_COMPLETION_ENDPOINT_SCHEME='http'
LS_TRANSLATION_ENDPOINT_URL='192.168.58.9'
LS_TRANSLATION_ENDPOINT_PORT=3100
LS_TRANSLATION_ENDPOINT_SCHEME='http'
RAILS_COMPLETION_ENDPOINT_URL='192.168.58.9'
RAILS_COMPLETION_ENDPOINT_PORT=8889
RAILS_COMPLETION_ENDPOINT_SCHEME='http'
