openai~=0.27.8
python-dotenv~=1.0.0
langchain~=0.0.234
requests~=2.31.0
beautifulsoup4~=4.12.2
unstructured~=0.8.1
nltk~=3.8.1
tiktoken~=0.4.0
faiss-cpu~=1.7.4
typesense~=0.15.1
arrow~=1.2.3
newspaper3k~=0.2.8
grpcio~=1.56.2
grpcio-tools~=1.56.2
meilisearch~=0.28.2
